.preference {
    min-height: 470px;
    padding-top: 70px;
    background-color: #f6f6f6;
    .title {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
        &__icon {
            display: flex;
            flex-direction: column;
            align-items:center;
            width: 240px;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0d0d0d;
            h3 {
                color: #0d0d0d;
                font-size: 18px;
                margin: 38px auto 26px auto;
            }
            span {
                color: #ff0000;
            }
        }
    
}